<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title class="i18n" data-i18n="appTitle">My Favorites</title>
        <!-- CSS Plugin Imports -->
        <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../../plugins/fontawesome/css/all.min.css" />
        <!-- CSS -->
        <link rel="stylesheet" href="./css/style.css" />
    </head>

    <body>
        <div id="root">
            <!-- Header -->
            <header>
                <div class="d-flex justify-content-between">
                    <h6 class="i18n" data-i18n="appTitle">My Favorites</h6>
                    <a href="#!" class="i18n" data-i18n="addCurrentPageLinkText" @click="addBookmark" v-bind:disable="!passwordVerified">
                        <i class="fas fa-plus"></i> Add current page
                    </a>
                </div>
                <!-- Tabs -->
                <ul class="nav nav-tabs">
                    <!-- Tab Bookmarks -->
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link active i18n"
                            id="bookmarks-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#bookmarks"
                            data-i18n="bookMarkText"
                            type="button"
                            role="tab"
                            aria-controls="bookmarks"
                            aria-selected="true"
                        >
                            Bookmarks
                        </button>
                    </li>
                    <!-- Tab Security -->
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link i18n"
                            id="security-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#security"
                            data-i18n="securityText"
                            type="button"
                            role="tab"
                            aria-controls="security"
                            aria-selected="false"
                        >
                            Security
                        </button>
                    </li>
                </ul>
            </header>
            <!-- Main -->
            <main>
                <!-- Tabs Content -->
                <div class="tab-content">
                    <!-- Bookmarks Content -->
                    <div class="tab-pane fade show active" id="bookmarks" role="tabpanel" aria-labelledby="bookmarks-tab">
                        <!-- Check Password Form -->
                        <div class="content" v-if="!passwordVerified">
                            <div class="form-group position-relative">
                                <label for="password" class="mb-1 i18n" data-i18n="confirmPasswordLabel">Confirm your password</label>
                                <input
                                    type="password"
                                    class="form-control"
                                    id="password"
                                    v-model="password"
                                    v-bind:class="{ 'is-invalid': checkPasswordErrorMessage != null }"
                                    @keyup.enter="checkPassword"
                                    required
                                />
                                <div class="invalid-feedback" v-if="checkPasswordErrorMessage">{{ checkPasswordErrorMessage }}</div>
                            </div>
                            <div class="d-grid gap-2 mt-3">
                                <button class="btn btn-dark i18n" @click="checkPassword" data-i18n="confirmPasswordButton">
                                    Sign In &nbsp;
                                    <i class="fas fa-sign-in-alt"></i>
                                </button>
                            </div>
                            <div class="mt-2">
                                <p class="i18n text-center" data-i18n="confirmAlertMessage">
                                    If you still don't have a password, register in the Security tab on the side.
                                </p>
                            </div>
                        </div>
                        <!-- Card Component -->
                        <card-component v-for="bookmark in bookmarks" v-bind:key="bookmark.uid" v-bind:bookmark="bookmark" v-else></card-component>
                    </div>
                    <!-- Security Content -->
                    <div class="tab-pane fade show" id="security" role="tabpanel" aria-labelledby="security-tab">
                        <!-- Create Password Form -->
                        <div class="content">
                            <div v-if="!passwordExists">
                                <div class="form-group position-relative">
                                    <label for="newPassword" class="mb-1 i18n" data-i18n="createPasswordLabel">Create your password here</label>
                                    <input
                                        type="password"
                                        class="form-control"
                                        id="newPassword"
                                        v-model="newPassword"
                                        v-bind:class="{ 'is-invalid': newPasswordErrorMessage != null }"
                                        required
                                    />
                                    <div class="invalid-feedback" v-if="newPasswordErrorMessage">{{ newPasswordErrorMessage }}</div>
                                </div>
                                <div class="form-group position-relative mt-2">
                                    <label for="password" class="mb-1 i18n" data-i18n="createPasswordLabel2">Confirm the password</label>
                                    <input
                                        type="password"
                                        class="form-control"
                                        id="confirmPassword"
                                        v-model="confirmPassword"
                                        v-bind:class="{ 'is-invalid': confirmPasswordErrorMessage != null }"
                                        required
                                    />
                                    <div class="invalid-feedback" v-if="confirmPasswordErrorMessage">{{ confirmPasswordErrorMessage }}</div>
                                </div>
                                <div class="d-grid gap-2 mt-3">
                                    <button class="btn btn-dark i18n" @click="createPassword" data-i18n="saveButton">
                                        Save &nbsp; <i class="fas fa-save"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="mt-2">
                                <p class="text-center">{{ passwordMessage }}</p>
                            </div>
                            <div class="d-grid gap-2 mt-3" v-if="passwordExists && passwordVerified">
                                <button class="btn btn-danger i18n" @click="resetPassword" data-i18n="resetButton">Reset password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Footer -->
            <footer class="px-4 pt-1 text-center">
                <span>Copyright (c) 2021</span>
            </footer>
        </div>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script>
        <!-- JS Plugin Imports -->
        <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../../plugins/vue/vue.min.js"></script>
        <script src="../../plugins/dayjs/dayjs.min.js"></script>
        <script src="../../plugins/crypto-js/crypto-js.min.js"></script>
        <!-- JavaScript -->
        <script src="./js/app.js"></script>
    </body>
</html>
